@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 128 56% 46%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 315 59% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 128 56% 46%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 2% 15%;
    --foreground: 0 0% 98%;
    --card: 220 2% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 220 2% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 128 56% 56%;
    --primary-foreground: 220 2% 10%;
    --secondary: 220 2% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 2% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 315 59% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 2% 30%;
    --input: 220 2% 30%;
    --ring: 128 56% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
    overflow: hidden;
  }
}
